Backend/movie-app-go/bin/
*.exe
*.dll
*.out
.DB_STORE
.vscode/

# Client build artifacts
Client/movie-app-react/node_modules/
Client/movie-app-react/dist/
Client/movie-app-react/.env

# Environment files
Backend/movie-app-go/.env
.env
*.env