basePath: /api/v1
definitions:
  models.AdminReviewRequest:
    properties:
      admin_review:
        type: string
    type: object
  models.Genre:
    properties:
      genre_id:
        type: string
      genre_name:
        maxLength: 100
        minLength: 2
        type: string
    required:
    - genre_id
    - genre_name
    type: object
  models.LoginResponse:
    properties:
      access_token:
        type: string
      email:
        type: string
      favourite_movies_genres:
        items:
          $ref: '#/definitions/models.Genre'
        type: array
      first_name:
        type: string
      last_name:
        type: string
      refresh_token:
        type: string
      role:
        type: string
      user_id:
        type: string
    type: object
  models.Movie:
    properties:
      admin_review:
        type: string
      description:
        maxLength: 5000
        minLength: 10
        type: string
      genres:
        items:
          $ref: '#/definitions/models.Genre'
        type: array
      id:
        type: string
      imdb_id:
        type: string
      poster_url:
        type: string
      ranking:
        $ref: '#/definitions/models.Ranking'
      release_year:
        maximum: 2100
        minimum: 1888
        type: integer
      title:
        maxLength: 200
        minLength: 2
        type: string
      youtube_id:
        type: string
    required:
    - description
    - genres
    - imdb_id
    - poster_url
    - ranking
    - release_year
    - title
    - youtube_id
    type: object
  models.Ranking:
    properties:
      ranking_name:
        maxLength: 100
        minLength: 2
        type: string
      ranking_value:
        type: integer
    required:
    - ranking_name
    - ranking_value
    type: object
  models.UpdateUser:
    properties:
      email:
        type: string
      favourite_movies_genres:
        items:
          type: string
        type: array
      first_name:
        type: string
      last_name:
        type: string
      password:
        type: string
      role:
        type: string
    type: object
  models.User:
    properties:
      access_token:
        type: string
      created_at:
        type: string
      email:
        type: string
      favourite_movies_genres:
        items:
          $ref: '#/definitions/models.Genre'
        type: array
      first_name:
        type: string
      id:
        type: string
      last_name:
        type: string
      password:
        minLength: 8
        type: string
      refresh_token:
        type: string
      role:
        enum:
        - ADMIN
        - USER
        - GUEST
        type: string
      updated_at:
        type: string
      user_id:
        type: string
    required:
    - email
    - favourite_movies_genres
    - first_name
    - last_name
    - password
    type: object
  models.UserLogin:
    properties:
      email:
        type: string
      password:
        minLength: 8
        type: string
    required:
    - email
    - password
    type: object
  models.UserLogout:
    properties:
      user_id:
        type: string
    type: object
host: localhost:5000
info:
  contact: {}
  description: API for the movie app.
  title: Movie API
  version: "1.0"
paths:
  /addmovie:
    post:
      consumes:
      - application/json
      parameters:
      - description: Movie
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.Movie'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Add a movie
      tags:
      - movies
  /api/v1/deleteuser/{userId}:
    delete:
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Delete user
      tags:
      - users
  /api/v1/getuserbyID/{userId}:
    get:
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get user by id
      tags:
      - users
  /api/v1/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Credentials
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.UserLogin'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.LoginResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Login
      tags:
      - auth
  /api/v1/logout:
    post:
      consumes:
      - application/json
      parameters:
      - description: Logout
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.UserLogout'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Logout
      tags:
      - auth
  /api/v1/refresh-token:
    post:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Refresh tokens
      tags:
      - auth
  /api/v1/register:
    post:
      consumes:
      - application/json
      parameters:
      - description: User
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.User'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "409":
          description: Conflict
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Register a new user
      tags:
      - auth
  /api/v1/updateuser/{userId}:
    put:
      consumes:
      - application/json
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        type: string
      - description: Updates
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.UpdateUser'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Update user
      tags:
      - users
  /api/v1/users:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: List users
      tags:
      - users
  /genres:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get all genres
      tags:
      - movies
  /movie/{imdbId}:
    get:
      parameters:
      - description: IMDb ID
        in: path
        name: imdbId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get movie by IMDb id
      tags:
      - movies
  /movie/review/{imdbId}:
    patch:
      consumes:
      - application/json
      parameters:
      - description: IMDb ID
        in: path
        name: imdbId
        required: true
        type: string
      - description: Admin review
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.AdminReviewRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Update admin review for a movie
      tags:
      - movies
  /movies:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: List movies
      tags:
      - movies
  /recommendatedmovies:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get recommended movies
      tags:
      - movies
  /recommendations-ai:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get AI recommended movies
      tags:
      - movies
  /searchmovies:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Search movies
      tags:
      - movies
schemes:
- http
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
